@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    
    <h3 class="mt-md-5" style="color:blueviolet;font-family:monospace; font-weight:500">@ViewBag.Message</h3>

    <p class="mt-4" style="font-family:monospace;font-weight:500 ">Graduated from Bahçeşehir University, department of Software Engineering.Worked in multiple projects and used so many 
    programming languages. Interested in Frontend,Backend,Fullstack and DevOps development. Gained certifications and attended
    club activities. Certifications from Microsoft,Amazon,Pearson,Google which are Azure Fundamentals, Azure Developer Associate,
    Pearson Educational Model, Google Digital Garage - Fundamentals of Digital Marketing.</p>
</main>