@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    
    <h3 class="mt-md-5" style="color:blueviolet;font-family:monospace; font-weight:500">@ViewBag.Message</h3>

    <address class="mt-4" style="font-family:monospace;font-weight:400">
        <strong>Email: </strong>   <a href="mailto:suayakbudak@gmail.com">gmail.com</a><br />
        <strong>LinkedIn: </strong> <a href="https://www.linkedin.com/in/suay-akbudak-6b3b28183">linkedin.com</a>
    </address>
</main>