@{
    ViewBag.Title = "Home Page";
}

<main style="font-family:monospace">
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title" class="mt-5" style="color:blueviolet;font-family:monospace; font-weight:500"> / home</h1>
        <p class="lead mt-3" style=" font-weight:500">Suay is a Full-stack web developer (hopefully). Do you want to know more about her? Click below.</p>
        <p><a href="https://rayanowl.com" class="btn btn-outline-dark btn-md mt-2">Go to site &raquo;</a></p>
    </section>

    <div class="row">
        <section class="col-md-4 mt-4 font-monospace" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle" style="color:blueviolet; font-weight:300; font-size:large">About me</h2>
            <p>
                Graduated from ...
            </p>
            <p><a class="btn btn-outline-dark" href="https://www.linkedin.com/in/suay-akbudak-6b3b28183">LinkedIn &raquo;</a></p>
        </section >
        <section class="col-md-4 mt-4 font-monospace" aria-labelledby="librariesTitle">
            <h2 id="librariesTitle" style="color:blueviolet; font-weight:300; font-size:large">Projects</h2>
            <p>Used ... </p>
            <p><a class="btn btn-outline-dark" href="https://github.com./rayanowl">Github &raquo;</a></p>
        </section>
        <section class="col-md-4 mt-4 font-monospace" aria-labelledby="hostingTitle">
            <h2 id="hostingTitle" style="color:blueviolet; font-weight:300; font-size:large">Other works</h2>
            <p>Other works ...</p>
            <p><a class="btn btn-outline-dark" href="https://github.com/rayanowl">Learn more &raquo;</a></p>
        </section>
    </div>
</main>